<article class="list__item post clearfix">
	{{- if .Params.thumbnail }}
	<figure class="list__thumbnail">
		<a href="{{ .RelPermalink }}">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
		</a>
	</figure>
	{{- end }}
	<div class="list__content clearfix">
		<header class="list__header">
			<h3 class="list__title post__title ">
				<a href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a>
			</h3>
			{{- if or (not .Date.IsZero) .Params.categories }}
			<div class="list__meta meta">
				{{- if not .Date.IsZero }}
				<span class="post__meta-time meta-time">
					<svg class="icon icon-time" height="14" viewBox="0 0 16 16" width="14" xmlns="http://www.w3.org/2000/svg"><path d="m8-.0000003c-4.4 0-8 3.6-8 8 0 4.4000003 3.6 8.0000003 8 8.0000003 4.4 0 8-3.6 8-8.0000003 0-4.4-3.6-8-8-8zm0 14.4000003c-3.52 0-6.4-2.88-6.4-6.4000003 0-3.52 2.88-6.4 6.4-6.4 3.52 0 6.4 2.88 6.4 6.4 0 3.5200003-2.88 6.4000003-6.4 6.4000003zm.4-10.4000003h-1.2v4.8l4.16 2.5600003.64-1.04-3.6-2.1600003z"/></svg>
					<time class="post__meta-date" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{.Date.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</time>
					{{- if ne .Date .Lastmod }}
					<time class="post__meta-lastmod" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}"> (Last Modified: {{.Lastmod.Format ( .Site.Params.dateformat | default "January 02, 2006")}})</time>
					{{- end }}
				</span>
				{{- end }}
				{{- if .Params.categories }}
				<span class="post__meta-categories meta-categories">
					<svg class="icon icon-category" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m7 2l1 2h8v11h-16v-13z"/></svg>
					{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a class="meta-categories__link" href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}" rel="category">{{ . }}</a>{{ end }}</span>
				{{- end }}
				{{- if .Params.tags }}
				<span class="post__meta-tags meta-tags">
					<svg class="icon icon-tag" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m4.73135 3.3795002q0-.5597-.39604-.9557-.39604-.3961-.95577-.3961-.55974 0-.95578.3961-.39604.396-.39604.9557 0 .5598.39604.9558.39604.3961.95578.3961.55973 0 .95577-.3961.39604-.396.39604-.9558zm11.26865 6.0832q0 .5596998-.39076.9504998l-5.18548 5.196q-.41188.3908-.9610504.3908-.55974 0-.9505-.3908l-7.5511496-7.5616998q-.40132-.3907-.68119-1.0666-.27987-.6759-.27987-1.2357v-4.3934q0-.54920004.40132-.95050004.40132-.4013.9505-.4013h4.39339q.55974 0 1.23565.2799.67591.2798 1.07723.6812l7.55115 7.54060004q.39076.4118.39076.961z"/></svg>
					{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a class="meta-tag__link" href="{{ "tags/" | relLangURL }}{{ . | urlize | lower }}" rel="tag">{{ . }}</a>{{ end }}</span>
				{{- end }}
			</div>
			{{- end }}
		</header>
		<div class="list__excerpt">
			{{ .Description }}
			<!--
	   		{{ .Summary }}
			-->
		</div>
		{{- if .Site.Params.readmore }}
		{{- if .Truncated }}
		<div class="list__footer">
			<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">Read more…</a>
		</div>
		{{- end }}
		{{- end }}
	</div>
</article>
