---
layout: default
---

<div class="home">

	<h1 class="page-heading">Posters</h1>
	<ul class="post-list">
		{% for poster in site.posters %}
			{% include poster-list.html %}
		{% endfor %}
	</ul>

	<h1 class="page-heading">Posts</h1>
	<ul class="post-list">
		{% for post in site.posts %}
			{% include post-list.html %}
		{% endfor %}
	</ul>

	<!--
	<h1 class="page-heading">Tags</h1>
	{% include tag-list.html %}

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
	-->

</div>
