/*
index.css
Date:	2015.10.06
Author:	Ryotaro Onuki
*/

@charset "utf-8"

html{
		font-color:#333333;
		background:#CCDDFF;
}

body{
		font-color:#333333;
		background:#CCDDFF;
		//width:210mm;
		//height:297mm;
		font-size:100%;
		line-height:1.5;
		margin:0;
		padding:0;
}

header{
		line-height:1.2;
		font-size:120%;
		text-align:center;
		margin:5% 5% 1em 5%;
}
header h1{
		font-size:210%;
}
header h2{
		font-size:100%;
}

article{
		margin:2em 5%;
}

#gallery{
		text-align:center;
}
#gallery img{
		width:22%;
}

.item h1{
		font-size:120%;
		width:auto;
		margin:0;
		padding:0;
		vertical-align:top;
}
.item h2{
		display:inline-block;
		font-size:110%;
		width:auto;
		margin:0 0 0 2em;
		padding:0;
		vertical-align:top;
}
.item p{
		padding-left:1em;
		margin:0;
		width:auto;
}
.item ol{
		display:inline-block;
		width:auto;
		padding-left:3em;
		margin:0;
}
.item ul{
		display:inline-block;
		width:auto;
		padding-left:3em;
		margin:0;
}

.settings h1{
		font-size:120%;
		width:auto;
		margin:0;
		padding:0;
		vertical-align:top;
}
.settings h2{
		display:inline-block;
		font-size:110%;
		width:auto;
		margin:0 0 0 2em;
		padding:0;
		vertical-align:top;
}
.settings p{
		padding-left:1em;
		margin:0;
		width:auto;
}
.settings ol{
		padding-left:4em;
		margin:0;
		width:auto;
}

footer{
		text-align:center;
}

