/*
index.css
Date:	2015.10.06
Author:	Ryotaro Onuki
*/

@charset "utf-8"

html{
}

body{
		margin:0;
		padding:0;
		line-height:2;
		color:#333333;
		background:#CCDDFF;
		font-size:120%;
		line-height:1.5;
}

header{
		line-height:1.5;
		font-size:120%;
		text-align:center;
		margin:5%;
}
header h1{
		font-size:150%;
}
header h2{
		font-size:120%;
}
header ul{
		display:block;
}
header li{
		color:#FFFFFF;
		list-style:none;
		display:inline-block;
		padding:1% 2%;
		width:17%;
		margin:1%;
		border:#756f61 2px solid;
		text-align:center;
		font-weight:bold;
}
li#home{
		background:#99AAFF;
}

section{
		margin:10%;
}

footer{
		text-align:center;
}

