body {
	background-image:url('/home/bgi2.png');
	background-repeat:repeat;
}
.page-content {

	.wrapper {
		background-color: rgba(255,255,255,0.5);
		border-radius:10px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.site-title {
	background-color: rgba(255,255,255,0.5);
	text-shadow:0 1px 0 #888;
	border-radius:10px;
	font-size: 36px;
	padding:0px $spacing-unit;
	//margin:10px 0;
	vertical-align:center;
}
.page-link {
	background: rgba(250,250,250,0.5);
	padding:10px;
	border-radius:4px;
	text-shadow:0 1px 0 #FFF;
	vertical-align:bottom;
}
.site-header .wrapper {
	max-width:800px;
	padding:$spacing-unit/4 0;
}
.site-footer .wrapper {
	background-color: rgba(255,255,255,0.5);
	border-radius:10px;
}
.img-small {
	width:150px;
}
.img-medium {
	width:300px;
}
.highlight {
	margin-left:calc(#{$spacing-unit} * 2);

	@include media-query($on-laptop) {
		margin-left:15px;
	}
}
.home-gallery{
	text-align:center;

	img{
		list-style:none;
		display:inline-block;
		max-width:22%;
		min-width:8em;
		margin:2% 1%;
	}
}
.graph {
	margin-left:calc(#{$spacing-unit} * 2);

	@include media-query($on-laptop) {
		margin-left:5px;
	}
}
