/*
index.css
Date:	2015.10.06
Author:	Ryotaro Onuki
*/

@charset "utf-8"

html{}

li#home{
		background:#99AAFF;
}
article p{
		margin-left:1em;
}

#gallery{
		text-align:center;
}
#gallery img{
		list-style:none;
		display:inline-block;
		padding:1% 2%;
		width:17%;
		margin:1%;
		border:#756f61 2px solid;
		text-align:center;
		font-weight:bold;
}

