---
layout: default
---

<div class="home">

	<h1 class="page-heading">Gallery</h1>

	<div class="home-gallery">
		<a href="/about"><img src="/images/home-gallery/KERI_LCD.jpg" title="KERI" alt="KERI"></a>
		<a href="{% post_url 2015-11-04-create-cpu %}"><img src="/images/home-gallery/CPU.jpg" title="4 bit CPU" alt="4 bit CPU"></a>
		<a href="{% post_url 2015-06-04-killifish-light %}"><img src="/images/home-gallery/killifish_light.jpg" title="メダカ水槽の照明" alt="メダカ水槽の照明"></a>
		<a href="{% post_url 2014-09-14-solar-system %}"><img src="images/home-gallery/solar_panel.jpg" title="100Wソーラーパネル" alt="100Wソーラーパネル"></a>
	</div>

	<h1 class="page-heading">Pick Up</h1>

	<ul class="post-list">
		{% for post in site.posts %}
		{% if post.title == "CPUの創り方" or post.title == "100W級ソーラーシステムの自作" or post.title == "メダカの照明の自作" %}
		<li>
			<span class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</span>
			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
		</li>
		{% endif %}
		{% endfor %}
	</ul>

	<h1 class="page-heading">All Posts</h1>

	<ul class="post-list">
		{% for post in site.posts %}
		<li>
			<span class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</span>

			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
		</li>
		{% endfor %}
	</ul>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 1st-ad -->
<ins class="adsbygoogle"
	 style="display:block"
  data-ad-client="ca-pub-1668524068659644"
  data-ad-slot="7974159815"
  data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
