---
layout: default
---

<div class="home">

	<h1 class="page-heading">Gallery</h1>

	<div class="home-gallery">
		<a href="/about"><img src="/home/KERI_LCD.jpg" title="KERI" alt="KERI"></a>
		<a href="{% post_url 2015-11-04-create-cpu %}"><img src="/home/CPU.jpg" title="4 bit CPU" alt="4 bit CPU"></a>
		<a href="{% post_url 2015-06-04-killifish-light %}"><img src="/home/killifish_light.jpg" title="メダカ水槽の照明" alt="メダカ水槽の照明"></a>
		<a href="{% post_url 2014-09-14-solar-system %}"><img src="home/solar_panel.jpg" title="100Wソーラーパネル" alt="100Wソーラーパネル"></a>
	</div>

	<h1 class="page-heading">Pick Up</h1>

	<ul class="post-list">
		{% for post in site.posts %}
		{% if post.title == "CPUの創り方" or post.title == "100W級ソーラーシステムの自作" or post.title == "メダカの照明の自作" %}
		{% include post-list.html %}
		{% endif %}
		{% endfor %}
	</ul>

	<h1 class="page-heading">All Posts</h1>

	<ul class="post-list">
		{% for post in site.posts %}
		{% include post-list.html %}
		{% endfor %}
	</ul>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>


{% include ads-flexible.html %}

